# Directiories
/images/
/build/
/.vs/
/cmake_corner_detection.dir/
/Debug/
/x64/

#Files

*.vcxproj
*.filters
*.sln

# Standard

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps